<h3 class="odonto-page-title">Minha Conta</h3>

<div class="odonto-form-container" [formGroup]="formGroup">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="code"
            required
          />
          <mat-label>Código Unesc</mat-label>
          <mat-error>Código é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="name"
            required
          />
          <mat-label>Nome</mat-label>
          <mat-error>Nome é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="email"
            email
            required
          />
          <mat-label>Email</mat-label>
          <mat-error>Informe um email válido</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-4">
        <mat-form-field>
          <input
            matInput
            type="password"
            formControlName="password"
          />
          <mat-label>Senha</mat-label>
          <mat-hint>Informe uma nova senha caso deseje alterá-la</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-4">
        <mat-form-field>
          <input
            matInput
            placeholder="Repita a senha informada acima"
            type="password"
            formControlName="repeat_password"
            pattern="{{ formGroup.get('password').value }}"
            [required]="formGroup.get('password').value !== null && formGroup.get('password').value !== '' && formGroup.get('password').value !== undefined"
          />
          <mat-label>Confirme Nova Senha</mat-label>
          <mat-error>Senha e confirmação de senha não são iguais</mat-error>
        </mat-form-field>
      </div>
    </div>

    <app-related-items-selector
      newItemLabel="Novo Vídeo"
      [data]="relatedData"
      [actions]="actions"
      (action)="onAction($event)"></app-related-items-selector>

    <!-- Actions -->
    <ng-template #actions let-row="row" let-index="index">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onAction({ action: 'view', element: row })">
          <mat-icon>search</mat-icon>
          <span>Visualizar</span>
        </button>
        <button mat-menu-item (click)="onAction({ action: 'delete', element: row })">
          <mat-icon>delete</mat-icon>
          <span>Remover</span>
        </button>
      </mat-menu>
    </ng-template>

    <div class="odonto-form-actions">
      <button
        matButton
        type="button"
        mat-raised-button color="primary"
        (click)="onSave()">
        Salvar
      </button>
    </div>
  </div>
</div>
