@import '../../../../../styles/app-styles-support.scss';

::ng-deep .mat-progress-bar-fill::after {
  background-color: $accent-color;
}

::ng-deep .mat-progress-bar-buffer {
  background: $primary-color;
}

.mat-progress-bar {
  margin: 32px auto 32px auto
}
