<h3 class="odonto-page-title">
  {{ !modelId ? 'Novo Vídeo' : 'Edição Vídeo' }}

  <a class="odonto-sm-button" color="accent" mat-button disableRipple="true" routerLink="/admin/videos">
    <mat-icon>undo</mat-icon> Voltar
  </a>
</h3>

<div class="odonto-form-container" [formGroup]="formGroup">
  <div class="container-fluid">

    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <input matInput type="text" formControlName="title" required />
          <mat-label>Título</mat-label>
          <mat-error>Título é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="odonto-form-actions">
        <button
          matButton
          type="button"
          mat-raised-button color="primary"
          (click)="onSave()">
          Salvar
        </button>
        <button
          matButton
          type="button"
          mat-raised-button color="primary"
          (click)="onSave(true)">
          Salvar e Fechar
        </button>
        <button
          matButton
          type="button"
          mat-raised-button color="basic"
          (click)="onCancel()">
          Cancelar
        </button>

  </div>
</div>
