<h3 class="odonto-page-title">
  {{ !modelId ? 'Novo Roteiro' : 'Edição Roteiro' }}

  <a class="odonto-sm-button" color="accent" mat-button disableRipple="true" routerLink="/admin/scripts">
    <mat-icon>undo</mat-icon> Voltar
  </a>
</h3>

<div class="odonto-form-container" [formGroup]="formGroup">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <input matInput type="text" formControlName="title" required />
          <mat-label>Título</mat-label>
          <mat-error>Título é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <textarea matInput formControlName="description">
          </textarea>
          <mat-label>Descrição</mat-label>
        </mat-form-field>
      </div>
    </div>

    <app-related-items-selector
    newItemLabel="Adicionar Caso"
    [data]="relatedData"
    [actions]="actions"
    (action)="onAction($event)"></app-related-items-selector>

  <!-- Actions -->
  <ng-template #actions let-row="row" let-index="index">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="onAction({ type: 'view', element: row })">
        <mat-icon>search</mat-icon>
        <span>Visualizar</span>
      </button>
      <button mat-menu-item (click)="onAction({ type: 'delete', element: row })">
        <mat-icon>delete</mat-icon>
        <span>Remover</span>
      </button>
    </mat-menu>
  </ng-template>

    <div class="row">
      <div class="col col-md-5">
        <mat-checkbox formControlName="shared">Compartilhado</mat-checkbox>
        <button mat-icon-button matTooltip="Compartilhar com outros Professores">
          <mat-icon>info_outline</mat-icon>
        </button>
      </div>
    </div>

    <div class="odonto-active-field">
      <mat-checkbox formControlName="active">Ativo</mat-checkbox>
    </div>

    <div class="odonto-form-actions">
      <button matButton type="button" mat-raised-button color="primary" (click)="onSave()">
        Salvar
      </button>
      <button matButton type="button" mat-raised-button color="primary"
        (click)="onSave(true)">
        Salvar e Fechar
      </button>
      <button matButton type="button" mat-raised-button color="basic" (click)="onCancel()">
        Cancelar
      </button>
    </div>

  </div>
