<form class="signin-form">
  <!-- LOGIN AS ADMINISTRATOR -->
  <div *ngIf="authTypeIsAdministrator()" [formGroup]="authAdminGroup">
    <mat-form-field>
      <input
        matInput
        placeholder="Seu código registrado na Unesc"
        type="text"
        formControlName="code"
        required
      />
      <mat-label>Código</mat-label>
      <mat-error>Informe seu código Unesc</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        required
      />
      <mat-label>Senha</mat-label>
      <mat-error>Informe a senha</mat-error>
    </mat-form-field>

    <div class="odonto-form-field">
      <button type="button"
        matButton
        class="odonto-block-button"
        mat-raised-button color="primary"
        (click)="onLoginAdministrator()">
        Entrar
      </button>

      <a class="remember-me-button"
        mat-button routerLink="/auth/recovery">Esqueci minha senha</a>
    </div>

    <div class="form-divider">
      <mat-divider></mat-divider>
      <span class="text">Ou</span>
    </div>

    <div class="odonto-form-field">
      <button
        type="button"
        class="odonto-block-button"
        mat-raised-button
        color="accent"
        (click)="toggleAuthType()"
      >
        Logar como Aluno
      </button>
    </div>
  </div>

  <!-- LOGIN AS STUDENT -->
  <div *ngIf="authTypeIsStudent()" [formGroup]="authStudentGroup">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="name"
        required/>
      <mat-label>Seu Nome</mat-label>
      <mat-error>Informe seu nome</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Seu código registrado na Unesc"
        type="text"
        formControlName="code"
        required/>
      <mat-label>Código de Aluno</mat-label>
      <mat-error>Informe seu código de aluno</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Insira o código informado pelo professor"
        type="text"
        formControlName="activity_code"
        required/>
      <mat-label>Código da Atividade</mat-label>
      <mat-error>Informe o código da atividade</mat-error>
    </mat-form-field>

    <div class="odonto-form-field">
      <button
        matButton
        type="button"
        class="odonto-block-button"
        mat-raised-button color="primary"
        (click)="onLoginStudent()">
        Entrar
      </button>
    </div>

    <div class="form-divider">
      <mat-divider></mat-divider>
      <span class="text">Ou</span>
    </div>

    <div class="odonto-form-field">
      <button
        type="button"
        class="odonto-block-button"
        mat-raised-button
        color="accent"
        (click)="toggleAuthType()"
      >
        Logar como Professor
      </button>
    </div>
  </div>

</form>
