<form class="recovery-form" [formGroup]="authRecoveryGroup">
  <p>Informe o e-mail cadastrado para sua conta.</p>
  <mat-form-field>
    <input
      matInput
      placeholder="Email"
      type="email"
      formControlName="email"
      email
      required/>
    <mat-error>Informe um email válido</mat-error>
  </mat-form-field>

  <div class="odonto-form-field">
    <button
      matButton
      class="odonto-block-button"
      mat-raised-button color="primary"
      (click)="onRecoveryPassword()">Recuperar Senha
    </button>
  </div>

  <div class="odonto-form-field odonto-text-center">
    <a class="odonto-sm-button" mat-button routerLink="/auth/login">
      <mat-icon>undo</mat-icon> voltar
    </a>
  </div>
</form>
