<h3 class="odonto-page-title">
  {{ !modelId ? 'Nova Atividade' : 'Edição Atividade' }}

  <a class="odonto-sm-button" color="accent" mat-button disableRipple="true" routerLink="/admin/activities">
    <mat-icon>undo</mat-icon> Voltar
  </a>
</h3>

<div class="odonto-form-container" [formGroup]="formGroup">
  <div class="container-fluid">

    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <input matInput type="text" formControlName="name" required />
          <mat-label>Nome</mat-label>
          <mat-error>Nome é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <input matInput type="number" formControlName="code" required />
          <mat-label>Código Atividade</mat-label>
          <mat-error>Código é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <textarea matInput type="text" formControlName="description"></textarea>
          <mat-label>Descrição</mat-label>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-3">
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" formControlName="start_date" required>
          <mat-label>Data Início</mat-label>
          <mat-error>Data início é obrigatório</mat-error>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col col-md-3">
        <mat-form-field>
          <input matInput [ngxTimepicker]="startTime" [format]="24" formControlName="start_time" required/>
          <mat-label>Hora Início</mat-label>
          <mat-error>Hora início é obrigatório</mat-error>
          <ngx-material-timepicker-toggle matSuffix [for]="startTime"></ngx-material-timepicker-toggle>
          <ngx-material-timepicker #startTime></ngx-material-timepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-3">
        <mat-form-field>
          <input matInput [matDatepicker]="expirationDate" formControlName="expiration_date" required>
          <mat-label>Data Expiração</mat-label>
          <mat-error>Data expiração é obrigatório</mat-error>
          <mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
          <mat-datepicker #expirationDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col col-md-3">
        <mat-form-field>
          <input matInput [ngxTimepicker]="expirationTime" [format]="24" formControlName="expiration_time" required/>
          <mat-label>Hora Expiração</mat-label>
          <mat-error>Hora expiração é obrigatório</mat-error>
          <ngx-material-timepicker-toggle matSuffix [for]="expirationTime"></ngx-material-timepicker-toggle>
          <ngx-material-timepicker #expirationTime></ngx-material-timepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <mat-checkbox formControlName="manager">Compartilhado</mat-checkbox>
        <button mat-icon-button matTooltip="Compartilhar com outros Professores">
          <mat-icon>info_outline</mat-icon>
        </button>
      </div>
    </div>

    <div class="odonto-active-field">
      <mat-checkbox formControlName="active">Ativo</mat-checkbox>
    </div>

    <div class="odonto-form-actions">
      <button matButton type="button" mat-raised-button color="primary" (click)="onSave()">
        Salvar
      </button>
      <button matButton type="button" mat-raised-button color="primary" (click)="onSave(true)">
        Salvar e Fechar
      </button>
      <button matButton type="button" mat-raised-button color="basic" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </div>
</div>
