::ng-deep {
  .search-related-item-component {
    .search-related-item-select-column {
      width: 60px !important;
    }

    tr.mat-header-row,
    tr.mat-row {
      height: 36px !important;
    }

    .filter-container {
      margin-top: -20px;
    }
  }
}

.items-selected-counter {
  position: relative;
  max-width: 50%;
  z-index: 1;
  margin: 0;
  top: 14px;
}
