<mat-nav-list class="menu">
  <mat-list-item class="menu-item" routerLink="/admin/home" routerLinkActive="active">
    <div class="item-content">
      <mat-icon color="primary">dashboard</mat-icon>
      <span>Início</span>
    </div>
  </mat-list-item>

  <mat-list-item
    class="menu-item"
    routerLink="/admin/activities"
    routerLinkActive="active"
  >
    <div class="item-content">
      <mat-icon color="primary">menu_book</mat-icon>
      <span>Atividades</span>
    </div>
  </mat-list-item>

  <mat-list-item
    class="menu-item"
    routerLink="/admin/scripts"
    routerLinkActive="active"
  >
    <div class="item-content">
      <mat-icon color="primary">format_list_numbered</mat-icon>
      <span>Roteiros</span>
    </div>
  </mat-list-item>

  <mat-list-item
    class="menu-item"
    routerLink="/admin/cases"
    routerLinkActive="active"
  >
    <div class="item-content">
      <mat-icon color="primary">widgets</mat-icon>
      <span>Casos</span>
    </div>
  </mat-list-item>

  <mat-list-item
    class="menu-item"
    routerLink="/admin/videos"
    routerLinkActive="active"
  >
    <div class="item-content">
      <mat-icon color="primary">video_library</mat-icon>
      <span>Vídeos</span>
    </div>
  </mat-list-item>
</mat-nav-list>

<!-- About Odonto Unesc -->
<button class="about-odonto-unesc" mat-icon-button matTooltip="Sobre Odonto Unesc">
    <mat-icon>info_outline</mat-icon>
</button>
